<div class="wrapper">
    <div class="main">
        <div class="container">
            <div class="header-margin"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-title text-center">
                        <h2>Home</h2>
                    </div>
                    <div>
                        Welcome {{userProfile.name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a routerLink="/admin/account-list">
                        <div class="card card-button bg-light">
                            <h3 class="card-title ml-auto mr-auto mb-auto mt-auto">Account Management</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 ">
                    <a routerLink="">
                        <div class="card  card-button bg-light">
                            <h3 class="card-title ml-auto mr-auto mt-auto mb-auto">User Management</h3>
                        </div>
                    </a>
                </div>
            </div>
            
<!--            <div class="header-margin"></div>-->
        </div>
    </div>
</div>
